table.table
  thead
    tr
      th scope="col"  #
      th scope="col"  Title
      th scope="col"  Author
      th scope="col"  Edit
  tbody
    - @books.each_with_index do |book, index|
      tr
        td= index + 1
        td= book.title
        td= book.author
        td= link_to "edit", [:edit, :librarians, book]

= paginate @books
    