= simple_form_for [:librarians, @book], html: { class: 'form-admin' } do |f|
  .form-group= f.input :title, input_html: {class: 'form-control'}
  .form-group= f.input :description, input_html: {class: 'form-control'}
  .form-group= f.input :image, placeholder: "informe a url da imagem", input_html: {class: 'form-control'}
  .form-group= f.input :author_id, collection: @authors, input_html: {class: 'form-control'}, include_blank: false
  = f.button :submit, class: "btn btn-success", data: {disable_with: "aguarde..."}
