- content_for :head do
  title Virtual Library - Books

.section.mt-30.mb-30
  .container
    .row
      .col-12.col-sm-12
        .title-section
          h1 Edit Book

          ol.breadcrumb
            li.breadcrumb-item= link_to 'Dashboard', librarians_dashboard_index_path, title: 'Dashboard'
            li.breadcrumb-item= link_to 'Books', [:librarians, :books], title: 'Books'
            li.breadcrumb-item.active Edit Book

      .col-12.col-sm-8
        = render 'form'