- content_for :head do
  title Virtual Library - Livros


.container
  .row
    .col-12.col-sm-12 
      h1 Livros
    .col-12.col-sm-4
      ol.breadcrumb
        li.breadcrumb-item= link_to 'Dashboard', librarians_dashboard_index_path, title: 'Dashboard'
        li.breadcrumb-item.active Books
      .title-section.section
        = link_to 'Novo Livro', [:new, :librarians, :book], class: 'btn btn-primary text-uppercase'
    .col-12.col-sm-8
      = simple_form_for :search, url: [:search, :librarians, :books], html: {class: "form-search"}, method: :get, remote: true do |f|
        .form-group
          = f.input :term, input_html: { class: "form-control" }, label: false, as: 'search', placeholder: 'Buscar livro'

    .col-12.col-sm-12
      .section
        = render "books"
