.row
  - @books.each do |book|
    .col
      .card style=("width: 18rem;height: 284px;") 
        .card-body
          h5.card-title= book.title
          img(src="#{book.image}" style="max-width: 50px;max-height: 50px;")
          p.card-text= truncate(book.description, length: 80)
          p.card-text= book.author
          = link_to "Favorite", make_a_book_favorite_users_path(book), class: "btn btn-success"

= paginate @books
