h2 books
.row 
  .col 
    = simple_form_for :search, url: [:search, :books], html: {class: "form-search"}, method: :get, remote: true do |f|
      .row
        .col-4= f.input :term, input_html: { class: "form-control" }, label: "Search term", as: 'search', placeholder: 'Search Book'
        .col-4= f.input :author, collection: @authors, input_html: { class: "form-control" }, include_blank: false
        .col-4= f.input :order, collection: ["asc", "desc"], input_html:{class: "form-select"}, include_blank: false
        .col-4= f.submit "Search"

.result-set= render 'books'
  