doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title VirtualLibrary
    meta content="width=device-width,initial-scale=1" name="viewport" /
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  body
    .container
      ul.nav
        li.nav-item
          a.nav-link.disabled  Authors
        li.nav-item= link_to 'Books', [:librarians, :books], class: "nav-link"
        li.nav-item
          a.nav-link.disabled  Users
        li.nav-item= button_to 'Logout', [:destroy, :librarian, :session], class: "nav-link", style: "border: none;background-color: white;", method: 'delete'
        
      = yield
