doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title VirtualLibrary
    meta content="width=device-width,initial-scale=1" name="viewport" /
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  body
    .container
      -if current_user.present?
        ul.nav
          li.nav-item=link_to 'Home', [:root], class: "nav-link", style: "border: none;background-color: white;"
          li.nav-item
          li.nav-item=link_to 'Favorites', [:favorites, :users], class: "nav-link", style: "border: none;background-color: white;"
          li.nav-item= button_to 'Logout', [:destroy, :user, :session], class: "nav-link", style: "border: none;background-color: white;", method: 'delete'
      - else 
        ul.nav
          li.nav-item= button_to 'Login', [:new, :user, :session], class: "nav-link", style: "border: none;background-color: white;"
        
      = yield
